<ion-modal-view>
    <ion-header-bar>
        
    </ion-header-bar>
    <!-- Inicia caja de busqueda -->
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Buscar producto..." ng-model="data.searchQuery">
            <i class="clear-search icon ion-ios-close-empty" ng-click="clearSearch()"></i>
        </label>
        <button class="button button-clear" ng-click="closeModal()">
            Cancelar
        </button>
    </div>
    <ion-content>
        <!-- Inicia lista de productos -->
        <ion-list>
            <ion-item class="item-avatar"" ng-repeat="product in products | filter: data.searchQuery" ng-click="doAdd(product.product_id)">
                {{product.product_name | uppercase}} ({{product.category_name | uppercase}})
                <p>CLAVE {{product.product_key | uppercase}}</p>
                <span class="item-note">
                    {{product.product_price_1 | currency}} {{product.unit_name}}
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>