<ion-view view-title="Punto de venta">
  <ion-content class="padding">
    <button class="button button-positive" ng-click="openModal()">Buscar producto</button>
    <ion-toggle ng-model="shouldShowDelete">
        Mostra boton de eliminar?
    </ion-toggle>
    
        <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
            <ion-item class="item-avatar" ng-repeat="item in items" ng-click="openQty($index)">
                <ion-delete-button class="ion-minus-circled" ng-click="deleteItem($index)"></ion-delete-button>
                {{item.product_name}}
                <p>Cantidad: {{item.product_qty}} {{item.unit_name}} * {{item.product_price | currency}} </p>
                <span class="item-note">
                    [{{item.product_qty * item.product_price | currency}}]
                </span>
                <ion-option-button class="button-calm" ng-click="openQty()">
                    Editar
                </ion-option-button>
            </ion-item>
        </ion-list>
    
        <div class="row">
            <div class="col col-33 col-offset-66">Subtotal<span class="item-note">{{subtotal | currency}}</span></div>
        </div>
        <div class="row">
            <div class="col col-33 col-offset-66">Impuesto<span class="item-note">{{(subtotal * 0.16) | currency}}</span></div>
        </div>
        <div class="row">
            <div class="col col-33 col-offset-66">Total<span class="item-note">{{subtotal * 1.16 | currency}}</span></div>
        </div>
  </ion-content>
</ion-view>
<script id="popup-template.html" type="text/ng-template">
    <input type="number" ng-model="quantity.value" name="message">
</script>
